#widget
    ul.hearts
        - hearts.forEach(function(item){
            li
                a(href= item.link
                    target="_parent"
                    title= item.title)
                    img(src= item.thumbnail
                        alt= item.title)
        - })
    .clearfix
    .footer
        a(href="http://weheartit.com/#{userid}" 
            target="_parent")
            img(alt="Weheartit_widget"
                src="http://assets.whicdn.com/assets/weheartit_widget-d5baf66c445e55f14efdd5d70733b7da.png")
